@model PPCRental.Models.PROPERTY

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var DistrictId = new SelectList(db.DISTRICTs.Where(y => y.ID >= 31 && y.ID <= 54), "ID", "DistrictName");
    //var Type = new SelectList(db.PROPERTY_TYPE, "ID", "CodeType");
    //var WardId = new SelectList(db.WARDs.Take(0), "ID", "WardName");
    //var StreetId = new SelectList(db.STREETs.Take(0), "ID", "StreetName");
    //var User = new SelectList(db.USERs, "ID", "Email");
    //var Status = new SelectList(db.PROJECT_STATUS, "ID", "Status_Name");
    //var Sale = new SelectList(db.USERs, "ID", "Email");
   
}
<!DOCTYPE html>
<head>
    <title>@ViewBag.Title - Post Property</title>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/fileinput/css")


</head>

@using (Html.BeginForm("Create", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal" style="background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
                                        background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
                                        background-attachment: fixed;
                                        background-repeat: no-repeat;">

        <hr />
        @Html.ValidationSummary(true)
        <div>
            <h4 class="col-lg-offset-0">POST</h4>
        </div>

        <form>


            <div class="form-group">
                @*@Html.LabelFor(model => model.PropertyName, new { @class = "contrl-label col-md-4" })*@
                <label class=" col-md-4 control-label">PropertyName</label>
                <div class="col-md-4 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-info-sign"></i></span>
                    <input name="PropertyName" class="form-control" type="text">
                    @*@Html.EditorFor(model => model.PropertyName)*@
                    @Html.ValidationMessageFor(model => model.PropertyName)
                </div>
            </div>

            <div class="form-group" @*style="float:right;margin-right:150px"*@>
                @Html.LabelFor(model => model.Avatar, new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    <input class="form-control" type="file" name="AvatarUpload" accept="image/*" />
                    @Html.ValidationMessageFor(model => model.Avatar)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Images, new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    <input class="form-control" type="file" name="Up" accept="image/*" multiple />
                    @Html.ValidationMessageFor(model => model.Images)
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.PropertyType_ID, "PropertyType_ID", new { @class = "control-label col-md-4" })*@
                <label class="col-md-4 control-label">Type</label>
                <div class="col-md-4 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-info-sign"></i></span>
                    @Html.DropDownList("PropertyType_ID", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PropertyType_ID)
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Content, new { @class = "control-label col-md-4" })*@
                <label class=" col-md-4 control-label">Content</label>
                <div class="col-md-4 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-pencil"></i></span>
                    <textarea class="form-control" name="Content" placeholder="Project Description"></textarea>
                    @Html.ValidationMessageFor(model => model.Content)
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.District_ID, "District_ID", new { @class = "control-label col-md-4" })*@
                <label class="col-md-4 control-label">District</label>
                <div class="col-md-4 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-info-sign"></i></span>
                    @Html.DropDownList("District_ID", null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Street_ID)
                </div>
            </div>


            <div class="form-group">
                    @Html.LabelFor(model => model.Ward_ID, "Ward_ID", new { @class = "control-label col-md-4" })
                    <div class="col-md-4 input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-info-sign"></i></span>
                        @Html.DropDownList("Ward_ID", null, new {@class ="form-control" })
                        @*@Html.DropDownList("Ward", null, new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.Ward_ID)
                    </div>
                </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.Street_ID, "Street_ID", new { @class = "control-label col-md-4" })*@
                <label class="col-md-4 control-label">Street</label>
                <div class="col-md-4 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-info-sign"></i></span>
                   @Html.DropDownList("Street_ID", null, new { @class = "form-control" })
                    @*@Html.DropDownList("Street",null, new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.Street_ID)
                </div>
            </div>



            <div class="form-group">
                @*@Html.LabelFor(model => model.Price, new { @class = "control-label col-md-4" })*@
                <label class=" col-md-4 control-label">Price</label>
                <div class="col-md-4 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-usd"></i></span>
                    <input name="Price" class="form-control" type="text">
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            </div>



            <div class="form-group">
                @*@Html.LabelFor(model => model.Area, new { @class = "control-label col-md-4" })*@
                <label class=" col-md-4 control-label">Area</label>
                <div class="col-md-4 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-info-sign"></i></span>
                    <input name="Area" class="form-control" type="text">
                    @Html.ValidationMessageFor(model => model.Area)
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.BedRoom, new { @class = "control-label col-md-4" })*@
                <label class=" col-md-4 control-label">BedRoom</label>
                <div class="col-md-4 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-info-sign"></i></span>
                    <input name="BedRoom" class="form-control" type="text">
                    @Html.ValidationMessageFor(model => model.BedRoom)
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.BathRoom, new { @class = "control-label col-md-4" })*@
                <label class=" col-md-4 control-label">BathRoom</label>
                <div class="col-md-4 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-info-sign"></i></span>
                    <input name="BathRoom" class="form-control" type="text">
                    @Html.ValidationMessageFor(model => model.BathRoom)
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.PackingPlace, new { @class = "control-label col-md-4" })*@
                <label class=" col-md-4 control-label">Parking Place</label>
                <div class="col-md-4 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-heart-empty"></i></span>
                    <input name="PackingPlace" class="form-control" type="text">
                    @Html.ValidationMessageFor(model => model.PackingPlace)
                </div>
            </div>



            <div class="form-group">
                @*@Html.LabelFor(model => model.Note, new { @class = "control-label col-md-4" })*@
                <label class=" col-md-4 control-label">Note</label>
                <div class="col-md-4 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-pencil"></i></span>
                    <textarea class="form-control" name="Note" placeholder="Description Here"></textarea>
                    @Html.ValidationMessageFor(model => model.Note)
                </div>
            </div>
          


            <div class="form-group">
                <div class="col-md-offset-4 col-md-4">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
}

<div class="col-md-1">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script>
        $('#District_ID').select2();
        $('#Type').select2();
        $('#Ward_ID').select2();
        $('#Street_ID').select2();
        $('#District_ID').on('change', function () {
            $('#Ward_ID').empty();
            $('#Street_ID').empty();

            $.getJSON('GetWard?did=' + $('#District_ID').val(), function (json) {
                $('#Ward_ID').select2({ data: json });
            });
            $.getJSON('GetStreet?did=' + $('#District_ID').val(), function (json) {
                $('#Street_ID').select2({ data: json });
            }); 
        });
        //var data = $.map(District, function (obj) {
        //    obj.id = obj.id || obj.pk; // replace pk with your identifier

        //    return obj;
        //});
        //var data = $.map(Ward, function (obj) {
        //    obj.id = obj.id || obj.pk; // replace pk with your identifier

        //    return obj;
        //});
        //var data = $.map(Street, function (obj) {
        //    obj.id = obj.id || obj.pk; // replace pk with your identifier

        //    return obj;
        //});
        
    </script>
        }
        
