@model PPCRental.Models.PROPERTY

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Property", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PROPERTY</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.PropertyName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PropertyName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PropertyName)
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.PropertyType_ID, "PropertyType_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PropertyType_ID", new SelectList(ViewBag.ptype, "ID", "CodeType", Model.PROPERTY_TYPE), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PropertyType_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @row = 5, @style = "width:500px" })
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.District_ID, "District_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("District_ID", new SelectList(ViewBag.district, "ID", "DistrictName", Model.DISTRICT), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.District_ID)

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Ward_ID, "Ward_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Ward_ID", new SelectList(ViewBag.ward, "ID", "WardName", Model.WARD), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Ward_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Street_ID, "Street_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Street_ID", new SelectList(ViewBag.street, "ID", "StreetName", Model.STREET), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Street_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UnitPrice, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UnitPrice)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Avatar, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="~/Images/@Model.Avatar" width="100px" />
                
                    <input class="form-control" type="file" name="AvatarUpload" accept="image/*" />
                
                
            </div>
        </div>
        <div class="form-group">    
            @Html.LabelFor(model => model.Images, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @{string[] chuoi = @Model.Images.Split(',');
                 
                 }
                @for (int i = 0; i < chuoi.Count()-1; i++)
                {
                    <img src="~/Images/@chuoi[i]" width="100px" alt="@Model.Images" />  
                }
                             
                <input class="form-control" type="file" name="Up"  accept="image/*" multiple />
                    
                                  
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Area, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Area, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Area)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BedRoom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BedRoom, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BedRoom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BathRoom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BathRoom, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BathRoom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PackingPlace, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PackingPlace, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PackingPlace)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Status_ID, "Status_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Status_ID", new SelectList(ViewBag.status, "ID", "Status_Name", Model.PROJECT_STATUS), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Note, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Note)
            </div>
        </div>





        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div style="margin-bottom:50px">
    <a href="/Admin/Property/ViewListofAgencyProject">
        <input type="button" class="btn btn-secondary" style="width:50px;text-align:center" value="Back to List" />

    </a>
</div>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@*@section Scripts {
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        @Scripts.Render("~/bundles/jqueryval")


        <script>
            $('#District_ID').select2();
            $('#Street_ID').select2();
            $('#Ward_ID').on('change', function () {
                $('#Street_ID').empty();
                $.getJSON('GetStreet?District_id=' + $('#Ward_ID').val(),
                function (json) {
                    $('#Street_ID').select2({ data: json });
                });
            });
        </script>
    }*@