


@model IEnumerable<object>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout .cshtml";
    List<PPCRental.Models.PROPERTY> lstProperty = Model.ToList()[0] as List<PPCRental.Models.PROPERTY>;
    List<PPCRental.Models.DISTRICT> lstDistrict = Model.ToList()[1] as List<PPCRental.Models.DISTRICT>;
    List<PPCRental.Models.PROPERTY_TYPE> lstPType = Model.ToList()[2] as List<PPCRental.Models.PROPERTY_TYPE>;
    List<PPCRental.Models.PROPERTY_FEATURE> lstPFeature = Model.ToList()[3] as List<PPCRental.Models.PROPERTY_FEATURE>;
    List<PPCRental.Models.WARD> lstWard = Model.ToList()[4] as List<PPCRental.Models.WARD>;
    List<PPCRental.Models.STREET> lstStreet = Model.ToList()[5] as List<PPCRental.Models.STREET>;
    List<PPCRental.Models.PROJECT_STATUS> lstStatus = Model.ToList()[6] as List<PPCRental.Models.PROJECT_STATUS>;
     
}



<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PROPERTY</h4>
        <hr />
        @Html.ValidationSummary(true)
        
            <div class="form-group">
                <label>Property Name</label>
                <div class="col-md-10">
                    @foreach(var item in lstProperty)
                    {
                          <input class="form-control" name="pname" value="@item.PropertyName" />
                    }
                </div>
            </div>
            <div class="form-group">
                <label>Content</label>
                <div class="col-md-10">
                    @foreach(var item in lstProperty)
                    {
                     <input class="form-control" name="content" value="@item.Content"/>   
                    }
                    
                </div>
            </div>
            <div class=" form-group">
               
                    <label>District</label>
                    <div class="col-md-10">
                        <select class="form-control">
                            @foreach (var distr in lstDistrict)
                             {
                            if(@distr.ID <=54  &&distr.ID >=31){
                            <option value="@distr.ID">@distr.DistrictName</option>
                            }
                            }
                        </select>
                    </div>

                                        
            </div>
            @*<div class=" form-group">
                @foreach (var ward in lstWard)
                {
                    <label>Ward</label>
                    <div class="col-md-10">
                        <select class="form-control">
                            if(@item.ID <=900  &&item.ID >=579){
                            <option value="@ward.ID">@ward.WardName</option>
                            }
                        </select>
                    </div>

                }
            </div>*@
            @*<div class=" form-group">
                @foreach (var street in lstStreet)
                {
                    <label>Street</label>
                    <div class="col-md-10">
                        <select class="form-control">
                            if(@street.ID  <=7795  &&@street.ID >=2403){
                            <option value="@street.ID">@street.StreetName</option>
                            }
                        </select>
                    </div>

                }
            </div>*@
            
            
            <div class="form-group">
                <label>Price</label>
                <div class="col-md-10">
                    @foreach(var item in lstProperty)
                    {
                        <input class="form-control" name="price" value="@item.Price" />
                    }
                    
                </div>
            </div>
            <div class="form-group">
                <label>Area</label>
                <div class="col-md-10">
                    @foreach(var item in lstProperty)
                    {
                        <input class="form-control" name="area" value="@item.Area" />
                    }
                    
                </div>
            </div>
            <div class="form-group">
                <label>Bed Room</label>
                <div class="col-md-10">
                    @foreach(var item in lstProperty)
                    {
                        <input class="form-control" name="bed" value="@item.BedRoom" />
                    }
                </div>
            </div>
            <div class="form-group">
                <label>Bath Room</label>
                <div class="col-md-10">
                    @foreach(var item in lstProperty)
                    {
                        <input class="form-control" name="bath" value="@item.BathRoom" />
                    }
                    
                </div>
            </div>
            <div class="form-group">
                
                    <label>Status</label>
                    <div class="col-md-10">
                        <select class="form-control" name="sta">
                            @foreach (var sta in lstStatus)
                            {

                                <option value="@sta.ID">@sta.Status_Name</option>
                            }
                        </select>
                        
                    </div>

                }


            </div>
            
        }
        

        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

